<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container-fluid">
    <h1 class="navbar-brand" href="#">
     <i class="bi bi-app"></i>
      Archlan Builders
    </h1>
</nav>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>All Size in MM</th>
   
    </tr>
     <tr>
      <th>Item</th>
      <th>Thickness</th>
      <th>Width</th>
      <th>Height</th>
      <th>QTY</th>
      <th>TOTAL SQ.FT</th>
      <th>REMARKS</th>
      <th>FINISH</th>
      <th>RATE-SQFT</th>
      <th>Amount</th>
    </tr>
  </thead>


</table>